
<div class="container">
  <div class="card m-5 p-3">
    <div class="card-body">
      <h1 style="margin-left: 44%;">Events</h1>
      <div class="form-group card m-5 p-1">
        
        <input
          type="text"
          class="form-control"
          placeholder="Search Here"
          [(ngModel)]="filterTerm"
        />
      </div>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th (click)="sort('Title')" scope="col">
              Title <i class="fa fa-sort"></i>
            </th>
            <th (click)="sort('Description')" scope="col">
              Description <i class="fa fa-sort"></i>
            </th>
            <th (click)="sort('Address')" scope="col">
              Address <i class="fa fa-sort"></i>
            </th>
            <th (click)="sort('EventDate')" scope="col">
              EventDate <i class="fa fa-sort"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let ev of Events
                | filter: filterTerm
                | filter: filterTerm
                | orderBy: orderHeader:isDescOrder
                | paginate
                  : {
                      id: 'listing_pagination_event',
                      itemsPerPage: 11,
                      currentPage: page,
                      totalItems: totalRecords
                    }
            "
          >
            <td>{{ ev.Title }}</td>
            <td>{{ ev.Description }}</td>
            <td>{{ ev.Address }}</td>
            <td>{{ ev.EventDate.substring(0, 10) }}</td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12">
        <pagination-controls
          id="listing_pagination_event"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="handlePageChangeEvent($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
