<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <div class="form-group card m-5 p-1">
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="filterTerm">
            </div>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Address</th>
                        <th scope="col">EventDate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ev of Events | filter:filterTerm | paginate: {  id: 'listing_pagination_event',
                                                                                    itemsPerPage: 13,
                                                                                    currentPage: page,
                                                                                    totalItems: totalRecords }">
                        <td>{{ ev.Title }}</td>
                        <td>{{ ev.Description }}</td>
                        <td>{{ ev.Address }}</td>
                        <td>{{ ev.EventDate.substring(0, 10)}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <pagination-controls id="listing_pagination_event"
                    previousLabel="Prev"
                    nextLabel="Next"
                    (pageChange)= "handlePageChangeEvent($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>