<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <div class="form-group card m-5 p-1">
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="filterTerm">
            </div>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">TargetGoal</th>
                        <th scope="col">CurrentAmmount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cause of Causes | filter:filterTerm | paginate: {  id: 'listing_pagination_cause',
                                                                                       itemsPerPage: 10,
                                                                                       currentPage: page,
                                                                                       totalItems: totalRecords }">
                        <td>{{cause.Title}}</td>
                        <td>{{cause.Description}}</td>
                        <td>{{cause.TargetGoal}}</td>
                        <td>{{cause.CurrentAmmount}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <pagination-controls id="listing_pagination_cause"
                    previousLabel="Prev"
                    nextLabel="Next"
                    [responsive]="true"
                    [directionLinks]="true"
                    (pageChange)= "handlePageChangeCause($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>