

<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <div class="form-group card m-5 p-1">
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="filterTerm">
            </div>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th (click)="sort('Title')" scope="col">Title <i class="fa fa-sort"></i></th>
                        <th (click)="sort('Description')" scope="col">Description <i class="fa fa-sort"></i></th>
                        <th (click)="sort('TargetGoal')" scope="col">TargetGoal <i class="fa fa-sort"></i></th>
                        <th (click)="sort('CurrentAmmount')" scope="col">CurrentAmmount <i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cause of Causes | filter:filterTerm |orderBy: orderHeader: isDescOrder | paginate: {  id: 'listing_pagination_cause',
                                                                                                                          itemsPerPage: 10,
                                                                                                                          currentPage: page,
                                                                                                                          totalItems: totalRecords }">
                        <td>{{cause.Title}}</td>
                        <td>{{cause.Description}}</td>
                        <td>{{cause.TargetGoal}}</td>
                        <td>{{cause.CurrentAmmount}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <pagination-controls id="listing_pagination_cause"
                    previousLabel="Prev"
                    nextLabel="Next"
                    (pageChange)= "handlePageChangeCause($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>